<div class="container-fluid pt-5">
  <div class="container">
    <div class="row">
      {{#each articles}}
        <div class="col-lg-3">
          <div class="position-relative mb-3">
            <!-- Hiển thị ảnh -->
            <img class="img-fluid w-100" src="data:image/jpeg;base64,{{this.img}}" style="object-fit: cover" />

            <div class="bg-white border border-top-0 p-4">
              <div class="mb-2">
                <!-- Hiển thị thể loại -->
                <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2" href="">{{this.category_name}}</a>
                <!-- Hiển thị ngày xuất bản -->
                <a class="text-body" href=""><small>{{formatDate this.publishedDay}}</small></a>
              </div>

              <!-- Hiển thị tiêu đề bài viết -->
              <a class="h4 d-block mb-3 text-secondary text-uppercase font-weight-bold" href="/baibao/{{this.id}}">
                {{this.title}}
              </a>

              <!-- Hiển thị mô tả bài viết -->
              <p class="m-0 limit-2-lines">
                {{this.description}}
              </p>
            </div>

            <div class="d-flex justify-content-between bg-white border border-top-0 p-4">
              <div class="d-flex align-items-center">
                <!-- Hiển thị tên người dùng -->
                <img class="rounded-circle mr-2" src="../../static/img/user.jpg" width="25" height="25" alt="" />
                <small>{{this.username}}</small>
              </div>
              <div class="d-flex align-items-center">
                <!-- Hiển thị số lượt xem -->
                <small class="ml-3"><i class="far fa-eye mr-2"></i>{{this.views}}</small>
                <!-- Hiển thị số bình luận -->
                <small class="ml-3"><i class="far fa-comment mr-2"></i>{{this.comments}}</small>
              </div>
            </div>
          </div>
        </div>
      {{/each}}
    </div>

    <!-- Phân trang -->
     <!-- Pagination -->
  <div class="pagination">
    <ul class="pagination justify-content-center">
      {{#if (gt currentPage 1)}}
        <li class="page-item">
          <a class="page-link" href="/timkiem/{{keyword}}?page={{subtract currentPage 1}}" aria-label="Previous">
            <span aria-hidden="true">&laquo; Trước</span>
          </a>
        </li>
      {{/if}}

      <li class="page-item disabled">
        <span class="page-link">Trang {{currentPage}} trên {{totalPages}}</span>
      </li>

      {{#if (lt currentPage totalPages)}}
        <li class="page-item">
          <a class="page-link" href="/timkiem/{{keyword}}?page={{add currentPage 1}}" aria-label="Next">
            <span aria-hidden="true">Sau &raquo;</span>
          </a>
        </li>
      {{/if}}
    </ul>
  </div>
</div>
