<!-- UserArticleList -->
<div class="container-fluid pt-5">
  <div class="container">
    <div class="row">
      <!-- SideBar -->
      <div class="col-12 col-sm-12 col-md-3 col-lg-3 sideBar">
        <div>
          <div class="heading">Quản lý tài khoản</div>
          <div class="py-2 pl-2">
            <a href="/nguoidung/thongtin"><div class="cursor-pointer">Thông tin</div></a>
          </div>
        </div>
        <div>
          <div class="heading">Quản lý bài viết</div>
          <div class="py-2 pl-2">
            {{#if (eq authUser.permission "writer")}}
            <a href="/nguoidung/thembaiviet"><div class="pb-2 cursor-pointer">Thêm bài viết</div></a>
            {{/if}}
            <a href="/nguoidung/danhsachbaiviet"><div class="cursor-pointer select">Bài viết của bạn</div></a>
          </div>
        </div>
      </div>
      <!-- Article list Section -->
      <div class="col-12 col-sm-12 col-md-9 col-lg-9 article">
       <table class="table-custom">
    <thead>
        <tr>
            <th class="text-black">ID</th>
            <th class="text-black">Ảnh</th>
            <th class="text-black">Tiêu đề</th>
            <th class="text-black">Ngày đăng</th>
            <th class="text-black">Trạng thái</th>
            <th class="text-black">Hành động</th>
        </tr>
    </thead>
    <tbody>
        {{#each articles}}
        <tr>
            <td>{{this.articleId}}</td>
            <td>
                <img src="data:image/jpeg;base64,{{this.img}}" alt="Article Image" style="width: 100px; height: auto;" />
            </td>
            <td>{{this.title}}</td>
            <td>{{formatDate this.publishedDay}}</td>
            <td>
                <span class="status-badge 
                    {{#if (eq this.status 'Từ chối')}}status-rejected{{/if}}
                    {{#if (eq this.status 'Đang duyệt')}}status-pending{{/if}}
                    {{#if (eq this.status 'Đã duyệt')}}status-approved{{/if}}
                ">
                    {{this.status}}
                </span>
            </td>
            <td class="action-buttons">
                <!-- Nút "Xem" luôn hiển thị -->
                <button class="btn btn-sm btn-primary" onclick="viewArticle('{{this.articleId}}')">Xem</button>

                <!-- Hiển thị thêm nút "Lý do bị từ chối" và "Chỉnh sửa" nếu trạng thái là "Từ chối" -->
                {{#if (eq this.status 'Từ chối')}}
                <button class="btn btn-sm btn-danger" onclick="showRejectionReason('{{this.articleId}}')">Lý do bị từ chối</button>
                <button 
                    class="btn btn-sm btn-secondary" 
                    data-bs-toggle="modal" 
                    data-bs-target="#updateArticleModal"
                    onclick="openUpdateModal('{{this.articleId}}')"
                >
                    Chỉnh sửa
                </button>
                {{/if}}
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
      </div>
    </div>
  </div>
</div>
